.notes-container {
  margin: 50px 0 0;
}

.notes-form label {
  font-size: 12px;
  color: #9E9E9E;
}

.notes-card {
  background-color: #EBEBEB;
  margin: 10px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.20);
}

.notes-border {
  border-left: 5px solid transparent;
}

.notes-content {
  padding: 10px 10px 0;
  border-bottom: 1px solid #ccc;
}

.notes-content h4 {
  display: flex;
  justify-content: space-between;
}

.notes-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 72px;
}

.notes-time {
  padding: 5px 10px;
  border-top: 1px solid #fff;
}

.border-red {
  border-left: 5px solid #FF0000;
}

.border-green {
  border-left: 5px solid #008000;
}

.border-blue {
  border-left: 5px solid #0000FF;
}

.border-yellow {
  border-left: 5px solid #FFFF00;
}

.border-purple {
  border-left: 5px solid #800080;
}

.border-orange {
  border-left: 5px solid #FFA500;
}

.isError {
  background-color: #ddd5d5;
  border-color: #ddd5d5;
  cursor: default;
  pointer-events: none;
}
