<div class="container">
  <div class="notes-form">
    <form>
      <div class="form-group">
        <label>Note Text</label>
        <input type="text" class="form-control" [formControl]="noteName" placeholder="Type the note here.." (change)="getValidationStatus()">
      </div>
      <div class="form-group">
        <label>Note Color</label>
        <select class="form-control" [formControl]="noteColor" [(ngModel)]="selectedColor" (change)="getValidationStatus()">
          <option disabled [ngValue]="undefined">Select Color</option>
          <option [ngValue]="color.id" *ngFor="let color of colorList">{{color.name}}</option>
        </select>
      </div>
      <div class="text-center" *ngIf="lastEdit == ''"><button (click)="addNote()" type="button" class="btn btn-primary" [ngClass]="{'isError' : !isValidation}">Add Note</button></div>
      <div class="text-center" *ngIf="lastEdit != ''"><button (click)="updateNote()" type="button" class="btn btn-primary" [ngClass]="{'isError' : !isValidation}">Update Note</button></div>
    </form>
  </div>
  <div class="notes-container">
    <div class="row">
      <div *ngFor="let note of notesList" class="col-12 col-md-4">
        <div class="notes-card notes-border" [ngClass]=getColorClass(note)>
          <div class="notes-content">
            <h4>{{note.title}}
              <span>
                <i (click)="editNote(note)" class="material-icons">mode_edit</i>
                <i (click)="deleteNote(note)" class="material-icons">delete</i>
              </span>
            </h4>
            <p>{{note.description}}</p>
          </div>
          <div class="notes-time">{{note.date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
